<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * Copyright [2014] [Dexxtz]
 *
 * @package   Dexxtz_Scrolltop
 * @author    Dexxtz
 * @license   http://www.apache.org/licenses/LICENSE-2.0
 */
-->
<config>
    <modules>
        <Dexxtz_Scrolltop>
            <version>1.0.0</version>
        </Dexxtz_Scrolltop>
    </modules>
    <frontend>
		<routers>
            <scrolltop>
                <use>admin</use>
                <args>
                    <module>Dexxtz_Scrolltop</module>
                    <frontName>scrolltop</frontName>
                </args>
            </scrolltop>
		</routers>
        <translate>
            <modules>
                <Dexxtz_Scrolltop>
                    <files>
                        <default>Dexxtz_Scrolltop.csv</default>
                    </files>
                </Dexxtz_Scrolltop>
            </modules>
        </translate>
		<layout>
            <updates>
                <scrolltop>
                    <file>dexxtz/scrolltop.xml</file>
                </scrolltop>
            </updates>
        </layout>
    </frontend>
	<admin>
        <routers>
            <scrolltop>
                <use>admin</use>
                <args>
                    <module>Dexxtz_Scrolltop</module>
                    <frontName>scrolltop</frontName>
                </args>
            </scrolltop>
		</routers>
	</admin>
    <adminhtml>
		<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <dexxtz_scrolltop translate="title" module="scrolltop">
                                            <title>Dexxtz Scrolltop</title>
                                            <sort_order>50</sort_order>
                                        </dexxtz_scrolltop>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Dexxtz_Scrolltop>
                    <files>
                        <default>Dexxtz_Scrolltop.csv</default>
                    </files>
                </Dexxtz_Scrolltop>
			<scrolltop_write>
                <connection>
					<use>core_write</use>
                </connection>
            </scrolltop_write>
            <scrolltop_read>
				<connection>
					<use>core_read</use>
				</connection>
            </scrolltop_read>
            </modules>
        </translate>
		<layout>
            <updates>
                <scrolltop>
                    <file>dexxtz/scrolltop.xml</file>
                </scrolltop>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <resources>
			<dexxtz_scrolltop_setup>
				<setup>
					<module>Dexxtz_Scrolltop</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</dexxtz_scrolltop_setup>
		</resources>
        <blocks>
            <dexxtz_scrolltop>
                <class>Dexxtz_Scrolltop_Block</class>
            </dexxtz_scrolltop>
        </blocks>
        <models>
            <dexxtz_scrolltop>
                <class>Dexxtz_Scrolltop_Model</class>
            </dexxtz_scrolltop>
        </models>
        <helpers>
            <scrolltop>
                <class>Dexxtz_Scrolltop_Helper</class>
            </scrolltop>
        </helpers>
    </global>
    <default>
        <dexxtz_scrolltop>
            <general>
				<position>right</position>
				<distance_footer>20px</distance_footer>
				<distance_side>20px</distance_side>
				<text_padding>10px</text_padding>
				<font_size>16px</font_size>
				<font_bold>1</font_bold>
				<speed_scrolling>600</speed_scrolling>
				<distance_show>300</distance_show>
            </general>
        </dexxtz_scrolltop>
    </default>
</config>