<?xml version="1.0"?>
<!--
/**
 * Copyright [2014] [Dexxtz]
 *
 * @package   Dexxtz_Scrolltop
 * @author    Dexxtz
 * @license   http://www.apache.org/licenses/LICENSE-2.0
 */
-->
<config>
	<tabs>
        <dexxtz translate="label">
            <label>Dexxtz</label>
            <sort_order>150</sort_order>
        </dexxtz>
    </tabs>
    <sections>
		<dexxtz_scrolltop translate="label" module="scrolltop">
            <label>Scroll Top</label>
            <tab>dexxtz</tab>
            <frontend_type>text</frontend_type>
            <sort_order>40</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
				<general translate="label">
                    <label>Settings Scroll Top</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active>
                            <label>Active</label>
							<comment>Enables or disables the button of scroll automatic.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
						<active_image>
                            <label>Use image?</label>
							<comment>Defines if go to use one image or text.</comment>
							<tooltip>Is only possible to use an image or one text to display.</tooltip>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active_image>
						<image_upload translate="label comment">
                            <label>Imagem upload</label>
							<frontend_type>image</frontend_type>
							<sort_order>30</sort_order>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="0">dexxtz/scrolltop/images</upload_dir>
                            <base_url type="media" scope_info="0">dexxtz/scrolltop/images</base_url>
							<show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends>
                                <active_image>1</active_image>
                            </depends>
						</image_upload>
						<image_width>
                            <label>Image width</label>
							<comment>Enter image width, example: 40px or 10%</comment>
							<tooltip>Accepted measures of width of css, is not necessary to add ';' in end.</tooltip>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends>
                                <active_image>1</active_image>
                            </depends>
                        </image_width>
						<image_height>
                            <label>Image height</label>
							<comment>Enter image height, example: 40px or 10%</comment>
							<tooltip>Accepted measures of height of css, is not necessary to add ';' in end.</tooltip>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends>
                                <active_image>1</active_image>
                            </depends>
                        </image_height>
						<text>
                            <label>Button title</label>
							<comment>Enter the button title that will appear to click and scroll.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends>
                                <active_image>0</active_image>
                            </depends>
                        </text>
						<text_padding>
                            <label>Padding of text</label>
							<comment>Example: 10px, 10px 5px or 1% 10px 2% default css</comment>
							<tooltip>Accepted measures of padding of css, is not necessary to add ';' in end.</tooltip>
                            <frontend_type>text</frontend_type>
                            <sort_order>32</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends>
                                <active_image>0</active_image>
                            </depends>
                        </text_padding>
						<font_size>
                            <label>Font size</label>
                            <frontend_type>text</frontend_type>
							<comment>Example 16px, 1.5em, 200% default css</comment>
							<tooltip>Accepted measures of font-size of css, is not necessary to add ';' in end.</tooltip>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends>
                                <active_image>0</active_image>
                            </depends>
                        </font_size>
						<font_bold>
                            <label>Font bold</label>
							<comment>Adds or removes bold in font.</comment>
							<frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends>
                                <active_image>0</active_image>
                            </depends>
                        </font_bold>
						<font_color>
                            <label>Font color</label>
							<comment>Example: black, #000000 or rgb(0,0,0)</comment>
							<tooltip>Accepted measures of color of css, is not necessary to add ';' in end.</tooltip>
                            <frontend_type>text</frontend_type>
                            <sort_order>45</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends>
                                <active_image>0</active_image>
                            </depends>
                        </font_color>
						<background_color>
                            <label>Background color</label>
							<comment>Example: white, #FFFFFF or rgb(255,255,255)</comment>
							<tooltip>Accepted measures of background-color of css, is not necessary to add ';' in end.</tooltip>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<depends>
                                <active_image>0</active_image>
                            </depends>
                        </background_color>
						<position>
                            <label>Position</label>
                            <frontend_type>select</frontend_type>
							<comment>Where will be appears, if on the left or right.</comment>
                            <source_model>dexxtz_scrolltop/system_config_source_positions_options</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </position>
						<distance_footer>
                            <label>Distance of footer</label>
							<comment>Displacement of footer, example 20px or 5%</comment>
							<tooltip>Accepted measures of bottom of css, is not necessary to add ';' in end.</tooltip>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </distance_footer>
						<distance_side>
                            <label>Distance of side</label>
							<comment>Displacement of side, example 20px or 5%</comment>
							<tooltip>Accepted measures of (left, right) of css, is not necessary to add ';' in end.</tooltip>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </distance_side>
						<speed_scrolling>
                            <label>Speed of scrolling</label>
							<comment>Enter only an integer value, example: 600</comment>
							<tooltip>Is the scrolling speed to the top of the page.</tooltip>
                            <frontend_type>text</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </speed_scrolling>
						<distance_show>
                            <label>Show the distance</label>
							<comment>Enter only an integer value, example: 300</comment>
							<tooltip>After having a scrolling is calculated the distance informed height, being greater appears the button, if it is smaller what informed, the button is removed.</tooltip>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </distance_show>
                    </fields>
                </general>
            </groups>
        </dexxtz_scrolltop>
    </sections>
</config>